body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #333;
}

header {
  color: #ffd;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  position: absolute;
  height: 25px;
}

.select-left {
  left: 10px;
}

.right-select {
  right: 10px;
}

.loading {
  color: #eee;
  height: 100vh;
  width: 100%;
  line-height: 100vh;
  text-align: center;
}

.nasa-title {
  color: #eee;
}

.nasa-image {
  width: 35%;
  border-radius: 7px;
}

.nasa-explanation {
  font-size: 0.95em;
  padding: 2em 10em 0 10em;
  color: #ddd;
}

.nasa-info {
  margin-top: 3em;
  color: #bbb;
}
